

.navbar{
    &__adbar{
background-image: url(../../images/food-366875_1280.jpg);
background-position:bottom;
background-size: cover;
font-size: var(--font-medium);
display: none;
visibility: hidden;

    }
    .btn{
        background-color: var(--font-color);
        color:var(--main-color);
        padding: 2vw 4vw;
        border-radius: 15%;
    
    }
}



@media (min-width:768px) {
    .navbar{
        max-width: 100vw;
    &__adbar{
        height: auto;
display: block;
visibility: visible;
background-position:bottom;
background-size: cover;
    }
    &__logo{
        img{
        width: 20vw;}
    }
}

}


