

.navbar{
    &__adbar{
background-image: url(../../images/food-366875_1280.jpg);
background-position:bottom;
background-size: cover;
font-size: var(--font-medium);
display: none;
visibility: hidden;
border-radius: 2rem;
width: 50%;
    }
    .btn{
        background-color: var(--font-color);
        color:var(--main-color);
        padding: 2vw 6vw;
        border-radius: 15rem;
        font-size: var(--font-small);
    
    }
}





