body {
    max-width: 100vw;
    background-color: var(--main-color);
    color:var(--font-color)

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 98vw;
    &__logo{
        img{
        width: 20vw;}
    }
    

}

.main {
    &__sidebar{
        position: absolute;
        text-align: center;
        margin-top: -6vh;
        margin-left: 35vw;
        max-width: 100vw;
        .sidebar-collection{
            display: flex;
            width: 40vw;
            justify-content: space-between;
            align-items: center;
            
        }
    }
    &__products{
        display: flex;
        flex-direction: column;
        height: 100vh;
        
        .products-panel{
            flex:1;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            
        }
        .products-panel:nth-child(1){
            background-image: url(../../images/1.jpg);

        }
        .products-panel:nth-child(2){
            background-image: url(../../images/2.jpg);

        }
    .products-panel:nth-child(3){
        background-image: url(../../images/3.jpg);
        }
        .products-panel:nth-child(4){
            background-image: url(../../images/4.jpg);
        }
        .products-panel:nth-child(5){
            background-image: url(../../images/5.jpg);

    }

}
}

.footer{
    display: flex;
    font-size: var(--font-medium);
}