:root {
    font-size: 62.5%;
    --font-small: 2rem;
    --font-medium: 4rem;
    --font-big: 6rem;
    --h1: 5rem;
    --font-color: #0c0cc0;
    --main-color: #c0c0c0;
    --font-secondary: #0c0cc0;
}