:root {
    font-size: 62.5%;
    --font-small: 2rem;
    --font-medium: 4rem;
    --font-big: 6rem;
    --h1: 5rem;
    --font-color: #7e1d11;
    --main-color: #727272;
    --font-secondary: #6a6a6a;
}