/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,700;1,700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

:root {
  font-size: var(--font-medium); }

:root {
  font-size: 10px;
  --font-small: 1rem;
  --font-medium: 2rem;
  --font-big: 3rem;
  --h1: 5rem;
  --font-color:#7e1d11;
  --main-color:#727272; }

body {
  max-width: 100vw;
  background-color: var(--main-color);
  color: var(--font-color); }

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 98vw; }
  .navbar__logo img {
    width: 20vw; }

.main .main__sidebar {
  position: absolute;
  text-align: center;
  margin-top: -6vh;
  margin-left: 35vw;
  max-width: 100vw; }
  .main .main__sidebar .sidebar-collection {
    display: flex;
    width: 40vw;
    justify-content: space-between;
    align-items: center; }

.navbar__adbar {
  background-image: url(../../images/food-366875_1280.jpg);
  background-position: bottom;
  background-size: cover;
  font-size: var(--font-medium);
  display: none;
  visibility: hidden; }

.navbar .btn {
  background-color: var(--font-color);
  color: var(--main-color);
  padding: 2vw 4vw;
  border-radius: 15%; }

@media (min-width: 768px) {
  .navbar {
    max-width: 100vw; }
    .navbar__adbar {
      height: auto;
      display: block;
      visibility: visible;
      background-position: bottom;
      background-size: cover; }
    .navbar__logo img {
      width: 20vw; } }
